.inventory-container {
  font-family: "Inter", Arial, sans-serif;
  background: #f5f7fa;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #394f5a;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
}

.footer-home {
  text-align: center;
  margin-top: 15px;
  font-size: 0.9rem;
  color: #555;
}
